@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:nth-of-type(1):hover,
a:nth-of-type(2):hover {
  text-decoration: underline;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  text-decoration: none;
}

.avatar {
  height: 200px;
  border-radius: 30px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

.mobile::before {
  content: "Mobile";
}

.mobile:hover:before
{
    content: "+380721206492";
}

.telegram::before {
  content: "Telegram";
}

.telegram:hover:before
{
  content: "@MOONLAYT400";
}

.gmail::before {
  content: "GMail";
}

.gmail:hover:before
{
  content: "moonlayt400@gmail.com";
}

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.info {
  margin-bottom: 20px;
  display: flex;
}

@media (max-width: 700px) {
  .info {
    display: block;
    text-align: center;
  }
}

.info-text {
  margin-left: 40px;
}

.info-text h4 {
  margin-bottom: 10px;
}

.hobby {
  padding: 0 20px;
}

.hobby li {
  color: #86898f;
  margin-bottom: 10px;
}

.exp {
  width: 100%;
}

.exp td {
  padding-bottom: 10px;
}

.exp td:nth-child(2),
.exp td:nth-child(3) {
  color: #86898f;
}

.work-list {
  list-style: none;
  padding: 0;
}

.work-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
}

.row > .form-group:first-child {
  margin-right: 20px;
}

.btn {
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

